.top-simulation{
    height: auto;
    position: relative;
}
.top-simulation a img{
    width: 100%;
    height: auto;
}
.top-simulation a{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: .8s;
}
.top-simulation-background{
    filter: brightness(60%);
    height: 100%;
    width: 100%;
}

@media screen and (max-width: 768px){

}
