.navbar{
  height: 5vw;
  display: flex;
  width: 58vw;
  align-items: center;
  padding: 0;
  background-color: #fff;
  border-radius: 38px;
  margin-right: 20px;
}
.navbar ul {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  border-top-left-radius: 38px;
  border-bottom-left-radius: 38px;
  background-color: #fff;
}
.navbar ul li{
   justify-content: center;
  align-items: center;
  font-size: 1vw;
}
.navbar ul li a{
  text-decoration: none;
  color: #000;
  font-weight: bold;
  margin: auto 40px 0 0;
   
}
.contact__area{
  position: absolute;
  right: -5px;
  height: 100%;
  background-color: #004097;
  width: 30%;
  border-top-right-radius: 38px;
  border-bottom-right-radius: 38px;
  z-index: 2;
}
.contact__area a{
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  margin-right: 6px;
}
.contact__area a img{
  width: 38px;
}
.contact__area a p{
  margin: 0;
  font-size: 1vw;

}

@media only screen and (max-width: 768px) {
  .header__nav {
    top: 20px;
  }
  .header__nav__logo img {
    width: 35vw;
  }
}
