.navbar{
  display: flex;
  /* width: 45vw; */
  align-items: center;
  background-color: #fff;
  height: 4.85vw;
  width: 940px;
  border-radius: 80px;
  padding: 0px;

}
.navbar ul {
  /* list-style: none;
  /*  */
  /* height: 100%; */
  /* border-top-left-radius: 80px;
  border-bottom-left-radius: 80px;
  background-color: #fff;
  gap: 40px;
  margin: 0;
  padding: 25.6px 40px; */ 
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom-left-radius: 80px;
  border-top-left-radius: 80px;
  height: 100%;
  justify-content: center;
  gap: 2.5vw;
  list-style: none;
}
.navbar ul li{
   justify-content: center;
  align-items: center;
  font-size: 1vw;
}
.navbar ul li a{
  text-decoration: none;
  color: #000;
  font-weight: 700;
   font-size: 16px;
   /* font-family: "游ゴシック体", "Yu Gothic", YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, "MS Pゴシック", "MS PGothic", sans-serif; */
    font-family: "游明朝体", "Yu Mincho", YuMincho, "ヒラギノ明朝 Pro", "Hiragino Mincho Pro", "MS P明朝", "MS PMincho", serif;
    color: #000;
}
.contact__area{
  position: absolute;
  right: -5px;
  height: 100%;
  background-color: #004097;
  width: 30%;
  border-top-right-radius: 80px;
  border-bottom-right-radius: 80px;
  z-index: 2;
}
.contact__area a{
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  margin-right: 6px;
}
.contact__area a img{
  width: 38px;
}
.contact__area a p{
  margin: 0;
  font-size: 16px;
  font-family: "游明朝体", "Yu Mincho", YuMincho, "ヒラギノ明朝 Pro", "Hiragino Mincho Pro", "MS P明朝", "MS PMincho", serif;
}
@media only screen and (max-width: 1600px){
  .navbar ul li a{
    font-size: 1vw;
  }
  .contact__area a p{
    font-size: 1vw;
  }
  .navbar ul{
    border-bottom-left-radius: 38px;
    border-top-left-radius: 38px;
  }
  .navbar{
    border-radius: 5vw;
    width: 57vw;
  }
  .contact__area{
    border-top-right-radius: 38px;
    border-bottom-right-radius: 38px;
  }
}
@media only screen and (max-width: 768px) {
  .header__nav {
    top: 20px;
  }
  .header__nav__logo img {
    width: 35vw;
  }
}