.content {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4vw 0;
  background-color: #e6ecf5;
}
.content__table {
  width: 80vw;
}
.content__table__row h4{
  border-right: 1px solid #ccc;
  height: 100%;
  margin-bottom: 0;
  padding: 25px;
}
