::-webkit-scrollbar-horizontal {
    display: none;
  }
  /* @media only screen and (max-width: 768px){
    ::-webkit-scrollbar-horizontal {
      display: none;
    }
    body{
      overflow-x: hidden;
    }
  } */
