.slider__circle {

    text-align: center;
  
    .item--wrapper {
  
      aspect-ratio: 1 / 1; //width = height
  
      @media screen and (max-width: 768px) {
        & {
          width: 70vw !important;
        }
      }
  
      .item--image {
        width: 100%;
        height: 100%;
  
        border-radius: 50%;
  
        display: flex !important;
        justify-content: center;
        align-items: center;
  
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
  
        .item--content {
          .item--icon {
            display: flex;
            justify-content: center;
  
            img {
              height: 120px;
              width: auto;
  
              @media screen and (min-width: 769px) and (max-width: 1600px) {
                height: 7.5vw;
              }
  
              @media screen and (max-width: 768px) {
                height: 17vw;
              }
            }
          }
  
          .item--desc {
            color: #fff;
  
            padding-top: 15px;
  
            @media screen and (min-width: 769px) and (max-width: 1600px) {
              font-size: 1.5vw;
            }
  
            @media screen and (max-width: 768px) {
              font-size: 24px;
            }
          }
        }
      }
    }
  
    .slick-slide {
      padding: 15px;
    }
  }
  
  .custom-arrows--area {
    width: 100%;
  
    display: flex;
    justify-content: center;
  
    .custom-arrows--wrapper {
      width: 30%;
  
      display: flex;
      justify-content: space-between;
  
      .custom-arrow {
        border: 1px solid #004097;
        border-radius: 50%;
  
        display: flex;
        justify-content: center;
        align-items: center;
  
        @media screen and (min-width: 769px) and (max-width: 1600px) {
          width: 3.5vw;
          height: 3.5vw;
        }
  
        @media screen and (max-width: 768px) {
          width: 8vw;
          height: 8vw;
        }
  
        .prev-arrow,
        .next-arrow {
          .anticon {
            
            color: #99b3d5 !important;
  
            @media screen and (min-width: 769px) and (max-width: 1600px) {
              font-size: 2vw;
            }
  
            @media screen and (max-width: 768px) {
              font-size: 3.75vw;
            }
          }
        }
      }
    }
  }