  
  .button_to-the-top path {
    color: white;
  }
  .button_to-the-top {
    right: 1.5%;
    bottom: 37px;
    position: fixed;
    background: #226fb7;
    border-radius: 50%;
    height: 40px;
    font-weight: 600;
    width: 42px;
    color: #fff;
    line-height: 45px;
    transition: all 0.3s ease;
    margin-left: 2px;
    box-shadow: 0px 0px 1px rgb(0 0 0 / 40%);
    border: 0px solid #226fb7;
    z-index: 1000;
    cursor: pointer;
  
  }
  
  .button_to-the-top i {
    color: #fff;
  
  }
  
  .button_to-the-top .button_to-the-top:hover {
    background: #1e95ba;
  }