.my-back-top-button{
  right: 35px;
  bottom: 37px;
  position: fixed;
  background: #00204c;
  border-radius: 50%;
  height: 45px;
  font-weight: 600;
  width: 45px;
  /* color: #fff; */
  line-height: 45px;
  transition: all 0.3s ease;
  margin-left: 2px;
  box-shadow: 0px 0px 1px rgb(0 0 0 / 40%);
  /* border: 0px solid #226fb7; */
  z-index: 1000;
  cursor: pointer;
  border: 1px solid #e6ecf5;
}
.my-back-top-button {
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.custom-back-top {
  position: fixed;
  bottom: 10px;
  right: 35px;
  width: 45px;
  height: 45px;
}

.custom-back-top .ant-float-btn-body:hover {
  background-color: red;
}

.custom-back-top .ant-float-btn-body {
  background-color: red;
  border: 0.1px solid #fff;
}

.custom-back-top .ant-float-btn-icon {
  color: #fff !important;
  font-size: 25px !important;
  width: 25px !important;
}
.icon{
right: 2px;
}
.UpOutlined{
  right: 1.5%;
}